<!-- facilities.html -->
{% extends 'powermapui_base.html' %}

{% block powermapui_content %}
  <h3>Facilities</h3>
  <p>This is a display of the defined Facilities.  Facilities represent plant that comprise the grid infrastructure.
    Initial displays shows all defined facilities for all scenarios.  You can choose a scenario from the drop down list to
    filter the list by the selected scenario.  Every facility has a technology taxonomy.  Where  more than one
    defined technology is used in the same location as in a hybrid facility, they handled as a separate facility for each technology.
  </p>
  <form method="get">
    <label for="scenario">Filter by Scenario:</label>
    <select name="scenario" id="scenario">
      <option value="">All</option>
      {% for scenario in scenarios %}
        <option value="{{ scenario.idscenarios }}" {% if selected_scenario == scenario.idscenarios %}selected{% endif %}>{{ scenario.title }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Filter</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Facility Name</th>
        <th>Technology</th>
        <th>Zone</th>
        <th>Capacity</th>
        <th>Capacity Factor</th>
        <th>Generation</th>
        <th>Transmitted</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    <tbody>
      {% for facility in facilities %}
        <tr>
          <td>{{ facility.facility_name }}</td>
          <td>{{ facility.idtechnologies.technology_name }}</td>
          <td>{{ facility.idzones.name }}</td>
          <td>{{ facility.capacity }}</td>
          <td>{{ facility.capacityfactor }}</td>
          <td>{{ facility.generation }}</td>
          <td>{{ facility.transmitted }}</td>
          <td>{{ facility.latitude }}</td>
          <td>{{ facility.longitude }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}