 <!-- technologies_list.html -->
{% extends 'powermapui_base.html' %}

{% block powermapui_content %}
 <body>
     <h1>Technologies</h1>
     <table border="1">
         <thead>
             <tr>
                 {% for field in fields %}
                 <th>{{ field }}</th>
                 {% endfor %}
             </tr>
         </thead>
         <tbody>
             {% for technology in technologies %}
             <tr>
                 <td>{{ technology.name }}</td>
                 <td>{{ technology.description }}</td>
                 <td>{{ technology.emissions }}</td>
             </tr>
             {% endfor %}
         </tbody>
     </table>
 </body>
 {% endblock %}