<!-- powerplotui/templates/powerplotui_base.html -->

{% extends 'base.html' %}

{% block content %}
<h2>Powerplot</h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/powerplotui/">Powerplot Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/variants/">Variants Statistics</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Renewable Energy Target
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'ret_dashboard' %}">RET Dashboard</a></li>
            <li><a class="dropdown-item" href="{% url 'ret_targets_list' %}">Manage Targets</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Facility Generation
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'scada_plot' %}">Actual (Scada)</a></li>
            <li><a class="dropdown-item" href="{% url 'scada_analysis' %}">Scada Analysis</a></li>
            <li><a class="dropdown-item" href="{% url 'supply_plot' %}">Simulated (SAM)</a></li>
            <li><a class="dropdown-item" href="{% url 'generation_comparison' %}">Comparison</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Risk Analysis
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'risk_dashboard' %}">Risk Dashboard</a></li>
            <li><a class="dropdown-item" href="{% url 'risk_scenario_list' %}">Manage Scenarios</a></li>
            <li><a class="dropdown-item" href="{% url 'risk_comparison' %}">Compare Scenarios</a></li>
          </ul>
        </li>
        <li class="nav-link" class="nav-item">
          <a href="/wem_prices/">WEM Prices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/swis_demand/">SWIS Demand</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/help/powerplot/" target="_blank" rel="noopener noreferrer">Powerplot Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/help/powerplot/edit/" target="_blank" rel="noopener noreferrer">Powerplot Help Edit</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="settings-box">
  <strong>Weather Year: </strong>{{ weather_year }}<br>
  <strong>Demand Year: </strong>{{ demand_year }}<br>
  <strong>Scenario:   </strong> {{ scenario }}<br>
  <strong>Config:   </strong> {{ config_file }}
</div>
{% block powerplotui_content %}{% endblock %}
{% endblock %}