{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SEN Siren Web{% endblock %}</title>
    <!-- Add your common CSS stylesheets or links here -->
    <link rel="stylesheet" type="text/css" href="{% static 'powermatchui/css/front.css' %}">
    <figure class="size-full header-logo">
        <a href="/"><img decoding="async" src="{% static 'powermatchui/img/SEN_LOGO_HERO.png' %}" alt="Logo" style="width: 200px; height: auto;"></a>
    </figure>
</head>
<body>
    <nav class="navbar-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/merit_order/">Set Merit Order</a></li>
            <li><a href="/batch/">Run Batch</a></li>
            <li><a href="/optimisation/">Run Optimisation</a></li>
            <li><a href="/tableupdate/">Table Update</a></li>
            <!-- Add more links as needed -->
        </ul>
    </nav>
    <header>
        <!-- Your header content goes here -->
        <h1>Siren Web Interface</h1>
    </header>
    <body>
        <div class="top-bar">
            <p>Load Year: {{ load_year }}</p>
            <p>Scenario: {{ scenario }}</p>
        </div>
        {% if success_message %}
        <div class="alert alert-success">
            {{ success_message }}
        </div>
        {% endif %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <footer>
        <!-- Your footer content goes here -->
        <p>&copy; 2024 Sustainable Energy Now. All rights reserved.</p>
    </footer>
</body>
</html>
