<!-- batch.html -->
{% extends 'base.html' %}

{% block title %}Home | My Website{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Powermatch</title>
</head>
<body>
    <h3>Run Powermatch in Batch Mode</h3>
    <p>The batch function calls Powermatch iteratively while varying the capacity of one or more of the generation or storage technologies.</p>
    <h4>To run Powermatch in Batch mode:</h3>
    <ol>
        <li>The current Scenario is displayed at the top of the page or a new scenarios can be added by updating the Scenarios table.</li>
        <li>Set the step change value for each technology.</li>
        <li>Set the number of iterations required.</li>
        <li>Click the 'Submit Batch Run' button.</li>
    </ol>
    <p>The values returned will be saved to the database Analysis table for use in the Plot function.</p>
    <h4>To set the step change value for a technology:</h3>
    <ol>
        <li>Click the down arrow to expand a technology.</li>
        <li>Set the required step change value.</li>
    </ol>
    <!-- Form for running Powermatch -->
    <form method="post">
        {% csrf_token %}
        <!-- Additional form fields for setting step change value, number of iterations, etc. -->
        {% for idtechnology, values in technologies.items %}
        <details>
            <summary>{{ values.0 }}</summary>  <!-- Display the technology name -->
            <label for="capacity_{{ idtechnology }}">Capacity:</label>
            <input type="number" id="capacity_{{ idtechnology }}" name="capacity_{{ idtechnology }}" value="{{ values.1 }}">
            <br>
            <label for="multiplier_{{ idtechnology }}">Multiplier:</label>
            <input type="number" id="multiplier_{{ idtechnology }}" name="multiplier_{{ idtechnology }}" value="{{ values.2 }}">
            <br>
            <label for="step_{{ idtechnology }}">Step:</label>
            <input type="number" id="step_{{ idtechnology }}" name="step_{{ idtechnology }}" value="{{ values.3 }}">
        </details>
        {% endfor %}
        <input type="number" id="iterations" name="iterations" min="1" value="1">
        <button type="submit" class="btn-custom-swish2">Submit Batch Run</button>
    </form>
</body>
</html>

{% endblock %}