<!-- home.html -->

{% extends 'base.html' %}

{% block content %}
    <h2>Welcome to Powermatch Web!</h2>
    <p>Siren Web is a web interface to Power Match, an open source python app for matching and balancing
    Renewable Energy resources to the load on the South West Interconnected system(SWIS).
    Power Match takes as input load and generation data from Powermap. Powermatch quantifies and costs the dispatchable energy generation, storage and CO2-e emissions. 
    The parameters passed to Power Match are stored in database tables that can be maintained using the Table Update function above.
    In this main panel you can select the Demand Year from the available data shown in the drop down list below.
    Select the level of detail and click submit to run Power Match.</p>

    <form method="post">
        {% csrf_token %}
        {{ home_form.demand_year }}
        {{ home_form.scenario.label_tag }}  <!-- Display the label for the scenario dropdown -->
        {{ home_form.scenario }}
        <button name="apply_settings" type="submit" class="btn-custom-swish2">Apply Settings</button>
    </form>
    <br>
    <form method="post" action="{% url 'run_powermatch' %}">
        {% csrf_token %}
        {{ runpowermatch_form.level_of_detail }}
        <button name="run_power_match" type="submit" class="btn-custom-swish2">Run Power Match</button>
    </form>
{% endblock %}
