<!-- home.html -->

{% extends 'base.html' %}

{% block title %}Home | My Website{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Powermatch Web!</title>
</head>
<body>
    <h1>Welcome to Powermatch Web!</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
{% endblock %}