<!-- home.html -->

{% extends 'base.html' %}

{% block title %}Home | My Website{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Powermatch Web!</title>
</head>
<body>
    <h2>Welcome to Powermatch Web!</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.load_year.label_tag }}
        {{ form.load_year }}
        <br>
        {{ form.level_of_detail.label_tag }}
        {% for radio in form.level_of_detail %}
            {{ radio }}
        {% endfor %}
        <br>
        <button type="submit" class="btn-custom-swish2">Run Power Match</button>
    </form>
</body>
</html>
{% endblock %}