<!-- Modal Header -->
<div class="modal-header">
    <h5 id="model_name" class="modal-title"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
{% load custom_filters %}
<!-- Modal Body -->
<div class="modal-body">
    <p id="model_description"></p>
    <table id="myTable" class="table">
        <thead>
            <tr id="headerRow">
                <!-- Header columns will be populated dynamically -->
            </tr>
        </thead>
        <tbody id="bodyRows">
            <!-- Body rows will be populated dynamically -->
        </tbody>
    </table>
    
</div>

<!-- Modal Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
</div>