/*BODY*/
body {
    font-family: 'Montserrat', sans-serif;
  }
  
  @media (min-width: 992px) {
    body, p {
      font-size: 20px;
    }
  }
  
  .table-fixed {
    table-layout: fixed;
  }
  
  .table-fixed td {
    word-wrap: break-word;
  }
  
  h1.crop, h2.crop, h3.crop, h4.crop, h5.crop, h6.crop {
    line-height: 1.2;
  }
  h1.crop::before, h1.crop::after, h2.crop::before, h2.crop::after, h3.crop::before, h3.crop::after, h4.crop::before, h4.crop::after, h5.crop::before, h5.crop::after, h6.crop::before, h6.crop::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
  }
  h1.crop::before, h2.crop::before, h3.crop::before, h4.crop::before, h5.crop::before, h6.crop::before {
    margin-bottom: calc(-0.2195121951em + 3px);
  }
  h1.crop::after, h2.crop::after, h3.crop::after, h4.crop::after, h5.crop::after, h6.crop::after {
    margin-top: calc(-0em + 0px);
  }
  a {
    color: #5DB474;
    text-decoration: underline;
  }
  a:hover, a:focus, a:active {
    color: #000000;
  }
  
  .form-control {
    border-radius: 0;
  }
  
  /*HEADER*/
  .header {
    padding: 2rem 0rem;
    margin: 0rem;
  }
  .header .header-logo {
    transition: all 0.5s;
    padding: 0rem;
    margin: 0rem;
  }
  .header .header-logo img {
    padding: 0rem 0rem 1rem 0rem;
    margin: 0rem auto 0rem auto;
    display: block;
    width: 300px;
  }
  @media (min-width: 992px) {
    .header .header-logo img {
      padding: 0rem 0rem 0rem 0rem;
      width: 100%;
    }
  }
  .header .header-logo:hover, .header .header-logo:focus, .header .header-logo:active {
    filter: grayscale(100%);
  }
  .header .btn-donate {
    margin: 0rem auto 0rem auto;
    padding: 1rem 0rem 1rem 0rem;
    transition: all 0.5s;
    height: auto;
    max-width: 100%;
    width: 170px;
  }
  .header .navbar-toggler {
    font-size: 3rem;
    margin: auto;
    border: 2px solid #00A9D8;
    color: #00A9D8;
  }
  @media (min-width: 992px) {
    .header .navbar-nav {
      margin-left: auto;
      justify-content: end;
    }
  }
  .header .navbar-nav .nav-link {
    font-size: 18px;
    transition: all 0.5s;
    color: #00A9D8;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    border-bottom: 2px solid transparent;
  }
  @media (min-width: 992px) {
    .header .navbar-nav .nav-link {
      font-size: 14px;
    }
  }
  @media (min-width: 1200px) {
    .header .navbar-nav .nav-link {
      font-size: 17px;
    }
  }
  @media (min-width: 1400px) {
    .header .navbar-nav .nav-link {
      font-size: 18px;
    }
  }
  .header .navbar-nav .nav-link.active, .header .navbar-nav .nav-link:hover, .header .navbar-nav .nav-link:focus, .header .navbar-nav .nav-link:active {
    text-shadow: -1px 0px 0px #00A9D8;
    border-bottom-color: #FAB62F;
  }
  
  /*BLOCKS*/
  /*sen-content-block*/
  .sen-content-block.has-background {
    padding: 3rem 0rem 3rem 0rem;
  }
  .sen-content-block .col.has-background {
    padding: 3rem 2rem 3rem 2rem;
  } 
  /*sen-tab-content*/
  .sen-tab-content.offset-nav .container {
    position: relative;
  }
  .sen-tab-content.offset-nav .nav {
    position: absolute;
    top: -40px;
    z-index: 999;
    width: 100%;
  }
  .sen-tab-content .nav {
    border-bottom: none;
  }
  .sen-tab-content .nav.nav-justified .nav-item .nav-link {
    height: 100%;
  }
  .sen-tab-content .nav .nav-item .nav-link {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #0B3F63;
    color: #FFFFFF;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .sen-tab-content .nav .nav-item .nav-link.active, .sen-tab-content .nav .nav-item .nav-link:hover, .sen-tab-content .nav .nav-item .nav-link:focus, .sen-tab-content .nav .nav-item .nav-link:active {
    background-color: #E1F4FD;
    color: #000000;
  }
  .sen-tab-content .tab-content .tab-pane {
    padding: 3rem 0rem 3rem 0rem;
  }
  .sen-tab-content .tab-content .tab-pane.has-background {
    padding: 3rem 2rem 3rem 2rem;
  }
  
  /*sen-page-banner*/
  .sen-page-banner {
    padding: 3rem 0rem 3rem 0rem;
    display: flex;
    min-height: 70vh;
    position: relative;
    width: 100%;
  }
  .sen-page-banner .background-image {
    margin: 0;
    padding: 0;
    -o-object-fit: cover;
    border: none;
    bottom: 0;
    box-shadow: none;
    height: 100%;
    left: 0;
    max-height: none;
    max-width: none;
    object-fit: cover;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
  }
  @media (min-width: 992px) {
    .sen-page-banner .background-image {
      opacity: 1;
    }
  }
  .sen-page-banner .container {
    z-index: 3;
  }
  
  /*sen-slideshow*/
  .sen-slideshow .custom-slide {
    display: flex;
    min-height: 70vh;
    position: relative;
    width: 100%;
    align-items: center;
  }
  .sen-slideshow .custom-slide .image {
    margin: 0;
    padding: 0;
    -o-object-fit: cover;
    border: none;
    bottom: 0;
    box-shadow: none;
    height: 100%;
    left: 0;
    max-height: none;
    max-width: none;
    object-fit: cover;
    opacity: 1;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .sen-slideshow .custom-slide .text {
    padding: 1rem 0rem;
    position: relative;
    width: 100%;
    z-index: 3;
  }
  @media (min-width: 992px) {
    .sen-slideshow .custom-slide .text {
      padding: 5rem 0rem;
    }
  }
  
  /*sen-nav-and-tabs*/
  /*sen-graph*/
  .sen-graph {
    padding: 1rem 0rem 3rem 0rem;
    margin: 0rem;
  }
  
  /*sen-form-membership*/
  .sen-form-membership .sen-tab-content .nav .nav-item {
    border-left: 1px solid transparent;
  }
  .sen-form-membership .sen-tab-content .nav .nav-item:first-child {
    border-left: none;
  }
  .sen-form-membership .sen-tab-content .nav .nav-item .nav-link {
    background-color: #5DB474;
    color: #FFFFFF;
  }
  .sen-form-membership .sen-tab-content .nav .nav-item .nav-link.active, .sen-form-membership .sen-tab-content .nav .nav-item .nav-link:hover, .sen-form-membership .sen-tab-content .nav .nav-item .nav-link:focus, .sen-form-membership .sen-tab-content .nav .nav-item .nav-link:active {
    background-color: #0B3F63;
    color: #FFFFFF;
  }
  .sen-form-membership .sen-tab-content .tab-content .tab-pane {
    padding: 0rem;
  }
  .sen-form-membership .sen-tab-content .tab-content .tab-pane .has-background {
    padding: 3rem 2rem;
    margin: 0rem 0rem 2rem 0rem;
  }
  
  /*FOOTER*/
  .footer {
    margin: 0rem;
    padding: 2rem 0rem;
    background-color: #5DB474;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
  }
  .footer .footer-logo img {
    padding: 0rem 0rem 2rem 0rem;
    margin: 0rem auto 0rem auto;
    display: block;
    width: 300px;
  }
  @media (min-width: 992px) {
    .footer .footer-logo img {
      padding: 0rem 0rem 0rem 0rem;
      width: 100%;
    }
  }
  .footer .footer-logo:hover, .footer .footer-logo:focus, .footer .footer-logo:active {
    filter: brightness(0);
  }
  .footer .row > .col {
    text-align: center;
  }
  @media (min-width: 992px) {
    .footer .row > .col {
      text-align: inherit;
    }
  }
  @media (min-width: 992px) {
    .footer .row > .col:first-child {
      border-right: solid 2px #FFFFFF;
    }
  }
  @media (min-width: 992px) {
    .footer .row > .col:last-child {
      text-align: right;
    }
  }
  .footer .nav {
    padding: 0rem 0rem 1rem 0rem;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 992px) {
    .footer .nav {
      justify-content: end;
    }
  }
  @media (min-width: 992px) {
    .footer .nav .nav-item:not(:first-of-type) {
      border-left: solid 2px #FFFFFF;
    }
  }
  .footer .nav .nav-item.dropdown .dropdown-menu {
    color: #FFFFFF;
    background-color: #5DB474;
    border-color: #FFFFFF;
  }
  .footer .nav .nav-item .nav-link {
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  @media (min-width: 992px) {
    .footer .nav .nav-item .nav-link {
      padding: 0.5rem 0.5rem;
    }
  }
  @media (min-width: 1200px) {
    .footer .nav .nav-item .nav-link {
      padding: 0.5rem 1rem;
    }
  }
  .footer .nav .nav-item .nav-link:hover, .footer .nav .nav-item .nav-link:focus, .footer .nav .nav-item .nav-link:active {
    color: #000000;
  }
  .footer .nav .nav-item .nav-link:hover img, .footer .nav .nav-item .nav-link:focus img, .footer .nav .nav-item .nav-link:active img {
    filter: brightness(0);
  }
  .footer .nav .nav-item .nav-link img {
    width: auto;
    height: 40px;
  }
  
  /*MISC*/
  /*[text background] | [hover text background]*/
  /*WHITE GREEN | WHITE BLUE*/
  .btn-custom-swish2 {
    padding: 0.6rem 2rem 0.3rem 2rem;
    background-color: #5DB474;
    border: 1px solid #5DB474;
    color: #FFFFFF;
    border-radius: 4rem;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    /*WHITE GREEN | WHITE LIGHT BLUE*/
  }
  .btn-custom-swish2:hover, .btn-custom-swish2:focus, .btn-custom-swish2:active {
    background-color: #0B3F63;
    border-color: #0B3F63;
    color: #FFFFFF;
  }
  .btn-custom-swish2 span {
    display: inline-block;
  }
  .btn-custom-swish2.custom2 {
    background-color: #5DB474;
    border-color: #5DB474;
    color: #FFFFFF;
  }
  .btn-custom-swish2.custom2:hover, .btn-custom-swish2.custom2:focus, .btn-custom-swish2.custom2:active {
    background-color: #00A9D8;
    border-color: #00A9D8;
    color: #FFFFFF;
  }
  
  .dropdown-header {
    font-size: 1rem;
  }
  
