{% extends 'base.html' %}

{% block title %}Home | My Website{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div id="root">
        <div class="sortable-component vertical">
            <div class="sortable-container" ondrop="drop(event, 'merit-order-list')" ondragover="allowDrop(event)">
                <div class="container-header">Merit Order</div>
                <div class="container-body" id="merit-order-container">
                    <ul id="merit-order-list" class="sortable">
                        {% for id, name in merit_order.items %}
                        <div class="sortable-item-container" draggable="true" ondragstart="drag(event)">
                            <li class="btn shadow-none sortable-item" id="{{ id }}">{{ name }}</li>
                            <input type="hidden" name="merit_order[]" value="{{ id }}">
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="sortable-container" ondrop="drop(event, 'excluded-resources-list')" ondragover="allowDrop(event)">
                <div class="container-header">Excluded Resources</div>
                <div class="container-body" id="excluded-resources-container">
                    <ul id="excluded-resources-list" class="sortable">
                        {% for id, name in excluded_resources.items %}
                        <div class="sortable-item-container" draggable="true" ondragstart="drag(event)">
                            <li class="btn shadow-none sortable-item" id="{{ id }}">{{ name }}</li>
                            <input type="hidden" name="excluded_resources[]" value="{{ id }}">
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn-custom-swish2">Save Dispatch Order</button>
</form>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

<script>
    function allowDrop(event) {
        event.preventDefault();
    }

    function drag(event) {
        var container = event.target.closest('.sortable-container');
        if (container) {
            event.dataTransfer.setData("text/plain", event.target.id);
        }
    }

    function drop(event, targetId) {
        event.preventDefault();
        var data = event.dataTransfer.getData("text/plain");
        var draggedElement = document.getElementById(data);
        var targetList = document.getElementById(targetId);
        var rect = targetList.getBoundingClientRect();
        var mouseY = event.clientY - rect.top;
        var index = Math.floor(mouseY / draggedElement.offsetHeight);
        if (index < 0) {
            index = 0;
        } else if (index >= targetList.children.length) {
            index = targetList.children.length - 1;
        }
        targetList.insertBefore(draggedElement, targetList.children[index]);
    }
    
    $(function() {
        $('.sortable').sortable();
    });
</script>
{% endblock %}
