<!-- batch.html -->
{% extends 'powermatchui_base.html' %}

{% block powermatchui_content %}

<body>
    <p>The batch function calls Powermatch iteratively while varying the capacity of one or more of the generation or storage technologies.</p>
    <h4>To run Powermatch in Batch mode:</h3>
    <ol>
        <li>The current Scenario is displayed at the top of the page or a new scenarios can be added by updating the Scenarios table.</li>
        <li>Set the step change value for each technology.</li>
        <li>Set the number of iterations required.</li>
        <li>Click the 'Submit Batch Run' button.</li>
    </ol>
    <p>The values returned will be saved to the database Analysis table for use in the Plot function.</p>
    <h4>To set the step change value for a technology:</h3>
    <ol>
        <li>Click the down arrow to expand a technology.</li>
        <li>Set the required step change value.</li>
    </ol>
    <!-- Form for running Powermatch -->
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}
    <script>
        // Show/hide the new variation fields based on the selected option
        document.getElementById('id_variation').addEventListener('change', function() {
            debugger;
            const newVariationFields = document.getElementById('id_variation_name');
            if (this.value === 'new') {
                newVariationFields.style.display = 'block';
            } else {
                newVariationFields.style.display = 'none';
            }
        });
    </script>
</body>
</html>

{% endblock %}