<!-- create_scenario.html -->
<!-- update_facility_associations.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Manage Scenarios and Facilities</h2>

<h3>Update Facility Associations</h3>
{% load custom_filters %}
<form method="post" action="{% url 'update_scenario' %}">
    {% csrf_token %}
    <button type="submit">Save Associations</button>
    <table class="table">
        <thead>
            <tr>
                <th>Facility</th>
                {% for scenario in all_scenarios %}
                    <th>
                        <input type="checkbox" class="toggle-column" data-scenario-id="{{ scenario.idscenarios }}">
                        {{ scenario.title }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for facility in all_facilities %}
            <tr>
                <td>{{ facility.facility_name }}</td>
                {% for scenario in all_scenarios %}
                <td>
                    <input type="checkbox"
                    id="scenario_{{ scenario.idscenarios }}_facility_{{ facility.idfacilities }}"
                    name="scenario_{{ scenario.idscenarios }}_facilities"
                    value="{{ facility.idfacilities }}"
                    {% if checkbox_status|get_dict_item:facility.idfacilities|get_dict_item:scenario.idscenarios %}checked{% endif %}
                    class="facility-checkbox" data-scenario-id="{{ scenario.idscenarios }}">
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<script>
    $(document).ready(function() {
        $('.toggle-column').change(function() {
            var scenarioId = $(this).data('scenario-id');
            var checked = $(this).prop('checked');
            $('input[name="scenario_' + scenarioId + '_facilities"]').prop('checked', checked);
        });
    });
</script>
{% endblock %}