<!-- display_table.html -->
{% extends 'powermatchui_base.html' %}

{% block powermatchui_content %}
{% load custom_filters %}
<body>
    <h3>Powermatch Summary Data</h3>
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
          {% for row in sp_data %}
            <tr>
              {% for field in row %}
                <td>{{ field }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
    </table>
</body>

{% endblock %}