{% extends 'powermatchui_base.html' %}

{% block powermatchui_content %}

<form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header custom-sen">Merit Order</div>
                    <div class="card-body custom-sen">
                        <ul id="merit-order-list" class="list-group">
                            {% for id, values in merit_order.items %}
                                {% with name=values.0 emissions=values.1 %}
                                    <li class="list-group-item" id="{{ id }}" data-id="{{ id }}" draggable="true" 
                                        data-emissions="{{ emissions }}">{{ name }}</li>
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header custom-sen"">Excluded Resources</div>
                    <div class="card-body custom-sen">
                        <ul id="excluded-resources-list" class="list-group">
                            {% for id, values in excluded_resources.items %}
                                {% with name=values.0 emissions=values.1 %}
                                    <li class="list-group-item" id="{{ id }}" data-id="{{ id }}" draggable="true" data-emissions="{{ emissions }}">{{ name }}</li>
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3" id ="save-order-button">Save Merit Order</button>
</form>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

<script>
    document.querySelectorAll('.list-group-item').forEach(item => {
        item.addEventListener('dragstart', event => {
            event.dataTransfer.setData('text/plain', item.id);
        });
        document.querySelectorAll('.list-group-item').forEach(item => {
            let emissions = item.getAttribute('data-emissions');
            let hexColor = emissions;  // Keep the color code as a string
            item.style.setProperty('--bs-list-group-bg', hexColor);
        });
    });

    $(function() {
        // Make the containers sortable
        $('ul.list-group').sortable({
            connectWith: '.list-group', // Allow sorting between lists within .list-group-container
            dropOnEmpty: true, // Allow dropping on empty lists
            tolerance: 'pointer', // Use pointer for more precise sorting
            helper: 'clone', // Use a clone as the dragging helper
            start: function(event, ui) {
                // Add a class to the dragged item for styling
                ui.item.addClass('dragging');
            },
            stop: function(event, ui) {
                // Remove the dragging class when dragging stops
                ui.item.removeClass('dragging');
            },
            receive: function(event, ui) {
                // Handle the dropped item
                debugger;
                var droppedItem = ui.item;
                var targetList = droppedItem.parent();
                var sourceList = ui.sender; // Get the source list
    
                // Move the item to the target list
                droppedItem.detach().appendTo(targetList);
    
                // Remove any associated hidden input fields from the source list
                var itemId = droppedItem.attr('id');
                var sourceInputField = $('input[name="' + sourceList.attr('id') + '"][value="' + itemId + '"]');
                sourceInputField.remove();
    
                // Add a new hidden input field to the target list
                var targetId = targetList.attr('id');
                $('<input>').attr({
                    type: 'hidden',
                    name: targetId,
                    value: itemId
                }).appendTo('form');
            }
        });
    });

    document.getElementById('save-order-button').addEventListener('click', async function() {
        var meritOrderList = document.getElementById('merit-order-list');
        var excludedResourcesList = document.getElementById('excluded-resources-list');
    
        var meritOrderIds = [];
        var excludedResourcesIds = [];
    
        meritOrderList.querySelectorAll('li').forEach(function(item) {
            meritOrderIds.push(item.getAttribute('data-id'));
        });
    
        excludedResourcesList.querySelectorAll('li').forEach(function(item) {
            excludedResourcesIds.push(item.getAttribute('data-id'));
        });
    
        // Get the CSRF token from a hidden input field in your HTML
        var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    
        try {
            // Send the data to your Django backend using fetch
            const response = await fetch('/save_order/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    meritOrderIds: meritOrderIds,
                    excludedResourcesIds: excludedResourcesIds
                })
            });
    
            if (response.ok) {
                console.log('Response ok');
            } else {
                console.log('Response not ok:', response);
            }
        } catch (error) {
            console.error('An error occurred:', error);
        }
    });
    </script>
{% endblock %}
