<!-- optimisation.html -->
{% extends 'powermatchui_base.html' %}

{% block powermatchui_content %}
    <h3>Run Powermatch in Optimisation Mode</h3>
    <p>The genetic optimisation function of Powermatch is called.</p>
    <h4>To run Powermatch in Optimisation mode for the current scenario:</h4>
    <ol>
        <li>Set the optimisation parameters.</li>
        <li>Click the 'Save Runtime Parameters' button.</li>
        <li>Click the 'Run Optimisation' button.</li>
    </ol>
    <!-- Form for running Powermatch in optimisation mode -->
    {% csrf_token %}
    {% if optimisationform %}
        {% load crispy_forms_tags %}
        {% crispy optimisationform %}
        <form method="post" action="{% url 'run_optimisation' %}">
            {% csrf_token %}
            <button type="submit" css_class='btn btn-primary'>Run Optimisation</button>
        </form>
    {% endif %}
{% endblock %}