<!-- powermatchui/templates/powermatchui_base.html -->

{% extends 'base.html' %}

{% block content %}
<h2>Powermatch</h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/powermatchui/">Powermatch Home</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Demand Projection Management
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'powermatchui:factor_type_list' %}">List Demand Factor Types</a></li>
            <li><a class="dropdown-item" href="{% url 'powermatchui:factor_type_create' %}">Add Demand Factor Type</a></li>

            <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item" href="{% url 'powermatchui:factor_list' %}">List Demand Factors</a></li>
            <li><a class="dropdown-item" href="{% url 'powermatchui:factor_create' %}">Add Demand Factor</a></li>

            <li><hr class="dropdown-divider"></li>

            <li><a class="dropdown-item" href="{% url 'powermatchui:demand_projection' %}">Demand Projection</a></li>

            <li><hr class="dropdown-divider"></li>

            <li class="nav-item">
                <a class="dropdown-item" href="/help/demand_projection/" target="_blank" rel="noopener noreferrer">Demand Projection Help</a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item" href="/help/demand_projection/edit/" target="_blank" rel="noopener noreferrer">Demand Projection Help Edit</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/merit_order/">Set Merit Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/baseline_scenario/">Baseline Scenario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/variation/">Create Variants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/optimisation/">Optimisation</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/help/powermatch/" target="_blank" rel="noopener noreferrer">Powermatch Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/help/powermatch/edit/" target="_blank" rel="noopener noreferrer">Powermatch Help Edit</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="settings-box">
  <strong>Weather Year: </strong>{{ weather_year }}<br>
  <strong>Demand Year: </strong>{{ demand_year }}<br>
  <strong>Scenario:   </strong> {{ scenario }}<br>
  <strong>Config:   </strong> {{ config_file }}
</div>
{% block powermatchui_content %}{% endblock %}
{% endblock %}