<!-- powermatchui_home.html -->

{% extends 'powermatchui_base.html' %}

{% block powermatchui_content %}
    <p>This is a web interface to Powermatch, an open source python app for matching and balancing
    Renewable Energy resources to the load on the South West Interconnected system(SWIS).
    Powermatch takes as input load and generation data from Powermap. Powermatch quantifies and costs the dispatchable energy generation, storage and CO2-e emissions. 
    The parameters passed to Power Match are stored in database tables that can be maintained using the Table Update function above.
    In this main panel you can select the Demand Year from the available data shown in the drop down list below.
    Select the level of detail and click submit to run Power Match.</p>

    <form method="post">
        {% csrf_token %}
        {{ demand_year_scenario.demand_year }}
        {{ demand_year_scenario.scenario.label_tag }}  <!-- Display the label for the scenario dropdown -->
        {{ demand_year_scenario.scenario }}
        <button name="apply_settings" type="submit" class="btn-custom-swish2">Apply Settings</button>
    </form>
    <br>
    {% if scenario %}
    <form method="post" action="{% url 'relate_technologies' %}">
        {% csrf_token %}
        <button name="relate_technologies" type="submit" class="btn-custom-swish2">Relate Technologies to Scenario</button>
    </form>
    {% else %}
        <p>Demand Year and Scenario must be specified.</p>
    {% endif %}
    <form method="post" action="{% url 'run_powermatch' %}">
        {% csrf_token %}
        {{ runpowermatch_form.level_of_detail }}
        <button name="run_power_match" type="submit" class="btn-custom-swish2">Run Power Match</button>
    </form>
{% endblock %}